@charset "UTF-8";

@font-face {
  font-family: 'Monaco';
  src: url('../fonts/monaco.ttf');
}

@font-face {
  font-family: 'Aileron';
  src: url('../fonts/Aileron-Regular.ttf');
}

@font-face {
  font-family: 'Marcellus';
  src: url('../fonts/Marcellus-Regular.ttf');
}

@font-face {
  font-family: 'Mukta';
  src: url('../fonts/Mukta-Regular.ttf');
}

/* AHRS CSS STYLESHEET */
/* Components:
 *  Main Container    id    ahrs_container
 *  Scroll Prevent    id    scroll_prevent
 *  Sky Container     id    sky_container
 *  Sky Mask          id    sky_mask
 *
 *  Simulate Tag      id    simulate_tag
 *
 *  Tape Class        class tape
 *  Speed Tape        id    speed_tape
      Tape Scroll     id    speed_tape_scroll
      Tape Text       id    speed_tape_text
      Tape Counter    id    speed_tape_counter
      Index Holder    id    speed_tape_index_holder
      Tick Holder     id    speed_tape_tick_holder
        Color Bar     class speed_tape_color_bar
      Tape Index      class speed_tape_index
      Counter Holder  id    speed_counter_holder
      Speed Counter   id    speed_counter
      Annun           id    speed_annun
      Annun Text      id    speed_annun_text
 *  H Tick Class      class h_tick
 *  V Tick Class      class v_tick
 *  Alt Tape          id    alt_tape
      Tape Scroll     id    alt_tape_scroll
      Tape Text       id    alt_tape_text
      Tape Counter    id    alt_tape_counter
      Index Holder    id    alt_tape_index_holder
      Tick Holder     id    alt_tape_tick_holder
      Tape Index      class alt_tape_index
      Counter Holder  id    alt_counter_holder
      Speed Counter   id    alt_counter
      V Speed         id    alt_vspeed
      Pointer         id    vspeed_pointer
        Outer         id    vspeed_pointer_outer
      Annun           id    alt_annun
      Annun Text      id    alt_annun_text
 *  Heading Tape      id    heading_tape
      Scroll Hold     id    heading_tape_holder
      Tape Scroll     id    heading_tape_scroll
      Annun           id    heading_annun
      Heading Text    id    heading_text
      Pointer         id    heading_pointer
 *  Virtual Horizion  id    vhorizon
      User Bars       id    user_bars
      L User Bar      id    left_user_bar
      C User Bar      id    center_user_bar
      C User Bar Mask id    center_user_bar_mask
      R User Bar      id    right_user_bar
      Arrow Right     id    user_arrow_right
      Arrow Left      id    user_arrow_left
      Angle Pointer   id    user_angle_pointer
      SVG Bar         id    vhor_bar
      Pitch Indicator id    pitch_indicator
      Pitch Scroll    id    pitch_tape_scroll
      Pitch Tick      class ahrs_tick
      Pitch Text      class ahrs_text
      Chevron         class ahrs_chevron
 *  Slip Skid Holder  id    slip_skid_holder
      Slip Skid Bar   class slip_skid_bar
      Slip Bar Right  class slip_skid_bar_right
      Slip Skid Ball  id    slip_skid_ball
 *  Turn Coord Holder id    turn_coordinator_holder
      TC Top Bar      class top_bar
      TC Middle Bar   class middle_bar
      TC Indicator    id    turn_coordinator_indicator
 *  Readouts          id    readouts
      Readout         class readout
      Pitch Readout   id    pitch_readout
      Roll Readout    id    roll_readout
 *  Invalid Holder    class invalid_holder
      invalid         class invalid
 *  Message Flag      id    message_flag
 *  Overheat Flag     id    overheat_flag
 *  G METERS          id    g_meter
      Pointer         id    g_pointer
      Text            class g_text
      Ptr Triangle    id    g_pointer_triangle
 *  Sat Count         id    sat_count
      Sat Count Text  id    sat_count_text
 *  FMU (Horizontal)  class fmu_h
    FMU (Verticle)    class fmu_v
      Alt FMU         id    alt_fmu
      Speed FMU       id    speed_fmu
      Heading FMU     id    hdg_fmu
      Hdg Arrow       id    hdg_fmu_arrow
  * Settings Menu     id    settings_menu
      Menu Rotated    id    settings_menu_rotated
      Exit Overlay    id    settings_overlay
      Button          class settings_button
      Input           class settings_input
      Icon            id    settings_icon
  * Notification      id    notification
 */
html {
  --flight_angle: 0deg;
  --slip_skid: 0px;
  --turn_rate: 0px;
  --speed_counter_speed: 1s;
  --ease_time: 0.2s;
  /* AHRS EASING */
  --hdg_ease_time: 0.2s;
  /* HEADING EASING */
  --aux_ease_time: 0.2s;
  /* OTHER EASING */
  --tc_ease_time: 0.5s;
  --pitch_amount: 0px;
  background-color: #000;
  touch-action:manipulation;
}

/* input[type='text'],
input[type='number'],
textarea {
  font-size: 16px;
} */

body {
  margin: 0px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40000;
  width: 100vw;
  height: 100vh;
}

#ahrs_container {
  width: 100%;
  height: 555px;
  background-color: #53350e;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

#scroll_prevent {}

#sky_container {
  width: 100%;
  height: 100%;
  transform: rotate(var(--flight_angle));
  transition: transform var(--ease_time) ease-out 0s;
}

#sky_mask {
  width: 200%;
  height: 200%;
  /* Mask sky colors */
  background: linear-gradient(to bottom, #2a48fb, #4f60e0);
  border-bottom: 4px solid white;
  position: relative;
  bottom: 150%;
  left: -50%;
  transform: translateY(var(--pitch_amount));
  transition: transform var(--ease_time) ease-out 0s;
}

#simulate_tag {
  position: absolute;
  top: 28px;
  left: 7px;
  font-family: 'Monaco';
  font-size: 23px;
  color: white;
  background-color: rgba(250, 0, 0, 0.7);
  border-radius: 20px;
  padding: 5px;
  z-index: 5;
  display: none;
}

/* ---------------- Tapes ---------------- */
.tape {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid #333333;
  position: absolute;
  top: 0;
  overflow: hidden;
}

.h_tick {
  width: 110%;
  height: 4px;
  background-color: #FFF;
  position: absolute;
  right: 1px;
  z-index: -2;
}

.v_tick {
  height: 10px;
  width: 4px;
  background-color: #FFF;
  position: absolute;
  /* top: 0px; */
  bottom: 0px;
  transition: unset;
  z-index: -2;
}

.tape_shadow {
  position: absolute;
  left: -20px;
  top: 0px;
  right: -20px;
  bottom: 0px;
  box-shadow: inset 0px 0px 46px 2px #000;
}

/* --------- Speed Tape --------- */
#speed_tape {
  width: 180px;
  left: 0px;
  z-index: 0;
}

#speed_tape_scroll {
  position: relative;
  transition: all var(--aux_ease_time) ease-out 0s;
  top: -81px;
  transform: translateZ(0);
  z-index: -1;
}

#speed_tape_index_holder {
  width: 70%;
  height: auto;
  position: relative;
  float: left;
}

#speed_tape_tick_holder {
  position: relative;
  width: 20px;
  float: right;
  /*margin-top: 17px;
  margin-bottom: 10px;*/
}

#speed_tape_text {
  width: 100%;
  height: 500px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: absolute;
  right: 5px;
  line-height: 40px;
  display: block;
  font-family: 'Monaco';
  font-size: 40px;
  text-align: right;
  color: rgba(255, 255, 255, 0.9);
  top: 0px;
}

.speed_tape_index {
  height: 75px;
  margin-bottom: 25px;
}

.speed_tape_index:last-of-type {
  margin-bottom: 0px;
}

.speed_tape_color_bar {
  width: 100%;
  right: 0px;
  position: absolute;
  z-index: -2;
}

#speed_counter_holder {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 0;
}

#speed_counter {
  width: 131px;
  height: 80px;
  background-color: rgba(0, 0, 0, 1);
  position: relative;
  top: 50%;
  right: 14px;
  float: right;
  display: inline-block;
  transform: translateY(-50%);
  padding-left: 4px;
  border: 4px solid white;
}

#speed_counter_text {
  line-height: 80px;
  display: block;
  font-family: 'Monaco';
  font-size: 70px;
  color: #FFF;
}

#speed_annun {
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: black;
  z-index: 12;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  transform: translateZ(0);
}

#speed_annun_text {
  color: #f300ee;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  font-size: 26px;
  font-family: 'Monaco';
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}

/* --------- Alt Tape --------- */
#alt_tape {
  width: 220px;
  right: 0px;
  z-index: 0;
}

#alt_tape_scroll {
  position: relative;
  transition: all var(--aux_ease_time) ease-out 0s;
  top: -81px;
  transform: translateZ(0);
  z-index: -2;
}

#alt_tape_index_holder {
  width: 70%;
  height: auto;
  position: relative;
  float: left;
}

#alt_tape_tick_holder {
  position: relative;
  width: 20px;
  float: right;
  left: 20px;
  /*margin-top: 17px;
  margin-bottom: 10px;*/
}

#alt_tape_text {
  width: 100%;
  height: 500px;
  margin-top: 2px;
  margin-bottom: 10px;
  position: absolute;
  left: 45px;
  display: block;
  font-family: 'Monaco';
  font-size: 40px;
  text-align: left;
  color: rgba(255, 255, 255, 0.9);
  top: 0px;
}

.alt_tape_index {
  height: 110px;
  vertical-align: middle;
}

.alt_tape_index::first-letter {
  font-size: 45px;
}

.alt_tape_index:last-of-type {
  margin-bottom: 0px;
}

#alt_counter_holder {
  height: 100%;
  width: 100%;
}

#alt_counter {
  width: 131px;
  height: 61px;
  background-color: rgba(0, 0, 0, 1);
  position: relative;
  top: 50%;
  left: 10px;
  float: right;
  display: inline-block;
  transform: translateY(-50%);
  padding-left: 4px;
  border: 4px solid white;
}

#alt_counter_text {
  line-height: 63px;
  display: block;
  font-family: 'Monaco';
  font-size: 52px;
  color: #FFF;
  position: absolute;
  top: -1px;
  right: 4px;
}

#alt_counter_text::first-letter {
  font-size: 58px;
}

.alt_tick {
  left: -222px;
  z-index: -2;
}

#alt_vspeed {
  height: 100%;
  width: 60px;
  float: right;
  border-left: 2px solid gray;
}

.vspeed_tick {
  width: 7px;
  z-index: 1 !important;
}

#vspeed_tape_index_holder {
  width: 70%;
  height: auto;
  position: relative;
  right: 18px;
}

#vspeed_tape_tick_holder {
  position: absolute;
  width: 20px;
  float: right;
  right: 0px;
  /*margin-top: 17px;
  margin-bottom: 10px;*/
}

#vspeed_tape_text {
  width: 100%;
  margin-top: 2px;
  margin-bottom: 10px;
  position: absolute;
  display: block;
  font-family: 'Monaco';
  font-size: 15px;
  text-align: right;
  color: rgba(255, 255, 255, 0.9);
  top: 0px;
}

.vspeed_tape_index {
  height: 20px;
  position: absolute;
  vertical-align: middle;
  right: -2px;
}

.vspeed_tape_index:last-of-type {
  margin-bottom: 0px;
}

#vspeed_trail {
  width: 20px;
  height: 5px;
  background-color: red;
  position: absolute;
  right: 0px;
  /*transition: all 0.25s linear 0s;*/
}

#vspeed_pointer {
  right: -2px;
  position: absolute;
  /*transition: all 0.25s linear 0s;*/
}

#vspeed_pointer_outer {
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 16px solid white;
  right: 13px;
  position: absolute;
}

#alt_annun {
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: black;
  z-index: 21;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  transform: translateZ(0);
}

#alt_annun_text {
  color: #f300ee;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  font-size: 26px;
  font-family: 'Monaco';
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}

#alt_annun_text span {
  line-height: 15px;
  font-size: 15px;
}

/* Heading Tape */
#heading_tape {
  /* height: 110px; */
  height: 60px;
  margin: 0 auto;
  z-index: 5;
  /* Some CSS details are calculated in "script.js" */
}

.annimate {
  transition: all var(--hdg_ease_time) ease 0s;
}

.heading_text {
  color: #FFF;
  font-size: 20px;
  line-height: 20px;
  position: absolute;
  font-family: 'Monaco';
  /* top: 38px; */
  top: -42px;
}

.card_text {
  top: 75px;
  font-size: 50px;
}

#heading_tape_holder {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateZ(0);
  z-index: -1;
}

#heading_tape_scroll {
  position: absolute;
  height: 10px;
}

#heading_annun {
  width: 178px;
  height: 34px;
  background-color: #000;
  border: 2px solid white;
  color: #f300ee;
  line-height: 15px;
  font-size: 26px;
  font-family: 'Monaco';
  position: absolute;
  /* top: 20px; */
  bottom: 20px;
  left: 50%;
  transform: translateX(-36%);
  padding-bottom: 3px;
  padding-left: 2px;
}

#heading_text {
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  margin: 3px;
}

#heading_text span {
  font-size: 30px;
  padding-left: 5px;
  text-align: right;
}

#heading_pointer {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  /* border-bottom: 10px solid white; */
  border-top: 10px solid white;
  position: absolute;
  /* top: -12px; */
  bottom: -12px;
  left: 76px;
}

/* ---------------- VHorizon ---------------- */
#vhorizon {
  position: absolute;
  width: 550px;
  height: 100%;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  /*background-color: red;*/
}

#user_bars {}

#user_angle_pointer {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #FFF;
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
}

#left_user_bar {
  width: 50px;
  height: 0px;
  border-top: 10px solid #f2f950;
  border-bottom: 10px solid #7e7e16;
  border-left: 16px solid transparent;
  position: absolute;
  left: 40px;
  top: 50%;
  transform: translateY(-50%);
}

#center_user_bar {
  width: 0;
  height: 0;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-bottom: 25px solid #f2f950;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
}

#center_user_bar_mask {
  width: 0;
  height: 0;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-bottom: 13px solid #7e7e16;
  padding-top: 13px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
}

#right_user_bar {
  width: 50px;
  height: 0px;
  border-top: 10px solid #f2f950;
  border-bottom: 10px solid #7e7e16;
  border-right: 16px solid transparent;
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
}

#vhor_bar {
  position: absolute;
  top: 76px;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
}

#pitch_indicator {
  width: 200px;
  height: 450px;
  left: 50%;
  transform: translate(-50%, 50%);
  position: absolute;
  bottom: -3px;
  transition: transform var(--ease_time) ease-out 0s;
}

#pitch_tape_scroll {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.ahrs_tick {
  width: 40px;
  right: unset;
  left: 50%;
  transform: translateX(-50%);
  transition: background-color var(--ease_time) ease-out 0s;
}

.ahrs_text {
  color: #FFF;
  font-size: 20px;
  line-height: 20px;
  position: absolute;
  font-family: 'Monaco';
  transition: color var(--ease_time) ease-out 0s;
}

.ahrs_chevron {
  position: absolute;
  top: 0px;
  width: 200px;
  left: 50%;
  transform: translateX(-50%);
}

/* --------------- Slip Skid ---------------- */
#slip_skid_holder {
  z-index: -1;
  width: 70px;
  height: 55px;
  position: relative;
  bottom: 20px;
  left: calc(50% - 15px);
}

#slip_skid_holder.shifted{
  bottom: 0px;
}

.slip_skid_bar {
  background-color: white;
  width: 4px;
  height: 100%;
  border-radius: 5px;
  position: absolute;
  left: 0px;
  z-index: 1;
  border: 2px solid black;
}

.slip_skid_bar_right {
  right: 0px;
  left: unset;
}

#slip_skid_ball {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  background-color: ghostwhite;
  border: 5px solid black;
  z-index: 0;
  position: relative;
  left: calc(50% - 25px - var(--slip_skid));
  /* transition: 0.2s; */
  top: 2.5px;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}

/* --------------- Turn Coordinator ---------------- */

#turn_coordinator_holder{
  z-index: -100;
  width: 270px;
  height: 14px;
  position: relative;
  bottom: 5px;
  left: calc(50% - 112px);
  display: flex;
  flex-direction: column;
  align-items: center;
  visibility: hidden;
}

#turn_coordinator_holder.show{
  visibility: visible;
}


#turn_coordinator_holder .top_bar{
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, rgba(0,0,0,.0) 0%, black 10%, black 90%, rgba(0,0,0,.0) 100%);
}

#turn_coordinator_holder .middle_bar{
  height: 100%;
  border-right: 2px solid black;
}

#turn_coordinator_holder .middle_bar.middle{
  position: absolute;
  top: 3px;
}

#turn_coordinator_holder .middle_bar.right_bar{
  position: absolute;
  right: 35px;
  border-color: white;
  bottom: -4px;
}

#turn_coordinator_holder .middle_bar.left_bar{
  position: absolute;
  left: 35px;
  border-color: white;
  bottom: -3px;
}

#turn_coordinator_indicator{
  height: 15px;
  width: 100%;
  top: 3px;
  position: absolute;
  z-index: -100;
}

#turn_coordinator_indicator .bar{
  background-color: magenta;
  width: var(--turn_rate);
  height: 100%;
  position: absolute;
  right: 50%;
  transition: width var(--tc_ease_time);
}

#turn_coordinator_indicator .bar.right{
  right: unset;
  left: 50%;
}

#turn_coordinator_indicator .arrow{
  width: 0; 
  height: 0; 
  position: absolute;
  transition: left var(--tc_ease_time), right var(--tc_ease_time);
}

#turn_coordinator_indicator .arrow.hide{
  display: none;
}

#turn_coordinator_indicator .arrow.right{
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid magenta;
  left: calc(50% + var(--turn_rate) - 1px);
}

#turn_coordinator_indicator .arrow.left{
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 7px solid magenta;
  right: calc(50% + var(--turn_rate) - 1px);
}

/* ---------------- Readouts ---------------- */
#readouts {
  position: absolute;
  /* top: 0px; */
  bottom: 44px;
  height: 24px;
  transform: translateZ(0);
}

.readout {
  height: 100%;
  width: auto;
  margin: 5px;
  border: 3px solid white;
  background-color: black;
  color: #f300ee;
  font-size: 25px;
  line-height: 20px;
  vertical-align: middle;
  padding: 2px;
  padding-top: 5px;
  font-family: 'Monaco';
  display: inline-block;
}

.readout span {
  padding-left: 10px;
}

#pitch_readout {
  position: absolute;
  left: 0px;
}

#roll_readout {
  right: 0px;
  position: absolute;
}

/* ---------------- Invalid ---------------- */
.invalid_holder {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: none;
}

.invalid_holder::after {
  content: none;
}

.invalid {
  color: rgba(255, 0, 0, 0.8);
  font-size: 200px;
  line-height: 200px;
  vertical-align: middle;
  font-family: 'Monaco';
  background-color: rgba(0, 0, 0, 0.3);
  background-image: url(../images/chevron-dark-blue.png);
  background-repeat: repeat;
  display: block;
}

.invalid::after {
  content: 'X';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* ---------------- Message Flag ---------------- */
#message_flag {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 5px;
}

.bright {
  background-color: red !important;
}

#overheat_flag {
  position: absolute;
  left: 53px;
  bottom: 53px;
  width: 60px;
  height: 30px;
  border: 3px solid white;
  border-radius: 30px;
  background-color: black;
}

#overheat_flag_text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: red;
  font-size: 20px;
  line-height: 20px;
  vertical-align: middle;
  font-family: 'Monaco';
}

#g_meter {
  position: absolute;
  background-color: black;
  width: 45px;
  height: 45px;
  border-radius: 45px;
}

#g_pointer {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 18px;
  left: 16px;
}

#g_pointer_triangle {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 14px solid red;
  position: absolute;
  left: -5px;
}

.g_text {
  color: white;
  font-size: 10px;
  line-height: 10px;
  font-family: 'Monaco';
  position: absolute;
}

/* ---------------- Sat Count ---------------- */
#sat_count {
  position: absolute;
  left: 6px;
  bottom: 53px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: 3px solid white;
  background-color: black;
}

#sat_count_text {
  color: white;
  font-size: 20px;
  line-height: 20px;
  font-family: 'Monaco';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* ----------------- FMU ----------------- */
#alt_fmu {
  width: 160px;
}

#speed_fmu {
  width: 182px;
}

#hdg_fmu {
  height: 182px;
}

#hdg_fmu_arrow {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid red;
  position: absolute;
  bottom: 10px;
  left: 5px;
}

.fmu_h {
  position: absolute;
  height: 5px;
  bottom: 0px;
  background-color: red;
  z-index: -1;
}

.fmu_v {
  position: absolute;
  width: 5px;
  left: 0px;
  background-color: red;
  z-index: -1;
}

/* ---------------- Settings Menu ---------------- */

#settings_menu{
  width: 95%;
  /* height: 18vh; */
  align-content: space-between;
  background-color: #111;
  border: 2px solid #BBBBCC;
  border-radius: 0.75em;
  z-index: 1000;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -15%);
  display: flex;
  flex-direction: row;
  padding: 0.5em 0.25em 0.5em 0.25em;

  overflow-x: scroll;
  overflow-y: hidden;
}


#settings_overlay{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: black;
  opacity: 0.0;
  z-index: 999;
}

#settings_menu.hidden, #settings_overlay.hidden{
  display: none;
}

.settings_button{
  width: 100%;
  min-width: calc(25% - 14px);
  height: 100px;
  border-radius: 3px;
  border: 1px solid #BBBBCC;
  background: linear-gradient(to bottom, #333335, #222225, #111115);
  text-align: center;
  line-height: 100px;
  font-size: 1.5em;
  color: white;
  font-family: 'Monaco';
  cursor: pointer;
  margin: 0px 5px 0px 5px;
}

.settings_last {
  padding: 0.15em;
}

.settings_last_rotated {
  padding: 0em !important;
}

.settings_menu_rotated{
  height: 95vh !important;
  width: 18vw !important;
  transform: translate(-50%, -100%) rotate(0deg) !important;
  transform-origin: bottom !important;
  left: 13% !important;
  top: 99% !important;
  font-size: 2.5em !important;
  overflow-x: scroll !important;
  overflow-y: scroll !important;
  flex-direction: column !important;

  padding: 0px 0px 0px 0px !important;
  border-radius: 0.3em !important;
}

.settings_button_rotated{
  height: 18vw;
  margin: 0px 0px 0px 0px;
  
  margin-bottom: 250px;
  width: 393px;

  font-size: 1em;
  line-height: 4em;
  transform-origin: left !important;
  transform: translate(22%, -44%) rotate(90deg) !important;
  
}

.settings_button:active{
  background: linear-gradient(to bottom, #111115, #151519, #191920);
}

.settings_input{
  margin-bottom: 10px;
}

.settings_input input{
  width: 90%;
  transform: translateX(5%);
  font-size: 25px;
}

.settings_spacer{
  width: 0.5em;
  border-right: 2px solid white;
  margin: 0px 0.25em 0px 0.25em;
}

.settings_spacer_rotated{
  width: 90% !important;
  border-top: 2px solid white !important;
  margin: 0.2em 0.25em 0.2em 0.2em !important;
}

#settings_icon{
  position: relative;
  left: 20px;
  width: 30px;
  height: 20px;
  bottom: 30px;
  cursor: pointer;
}

#settings_icon.shifted{
  bottom: 45px;
}

.menu_bar{
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: white;
  margin-bottom: 7px;
}

#settings_popup{
  background-color: #151519;
  border-radius: 0.5em;
  border: 2px solid #BBBBCC;
  color: white;
  font-family: 'Monaco';
  text-align: center;
  position: fixed;
  width: 60vh;
  height: 60vh;
  z-index: 3000;
  font-size: 2em !important;
  flex-direction: column;
  display: flex;
  margin-left: 50%;
  transform: translate(-50%, 20%);
}

#settings_popup.hidden{
  display: none;
}

#settings_popup .title{
  margin-top: 10px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#settings_popup .small{
  color: #AAA;
  font-size: 0.5em !important;
  padding-left: 10px;
  position: absolute;
  bottom: 0.35em;
}

.settings_popup_rotated{
  width: 60vw !important;
  height: 60vw !important;
  margin-left: 60vw !important;
  margin-top: 50vh !important;
  transform: translate(-50%, -50%) rotate(90deg) !important;
  font-size: 3em !important;
}

.altimeter_input{
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.relative{
  position: relative;
}

.altimeter_display{

}

.number_button{
  flex: 1 0 30%; /* explanation below */
  margin: 5px;
  /* height: 100px; */
  background-color: white;
  color: black;
  font-size: 1em;
  background-color: white;
  border-radius: 0.3em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.number_button:active{
  background-color: #333;
  color: white;
}

/* ---------------- Notification ---------------- */

.notification{
  background-color: #587E4B;
  border-radius: 4px;
  color: white;
  font-family: 'Monaco';
  font-size: 25px;
  position: fixed;
  padding: 0px 10px 0px 10px;
  line-height: 40px;
  height: 40px;
  text-align: center;
  top: -40px;
  right: 20px;
  transition: top 0.5s ease, right 0.5s ease;
  z-index: 2000;
}

.notification.portrait{
  bottom: 0px;
  top: unset;
  right: -40px;
  transform: rotate(90deg);
  transform-origin: right top;
}

/* ---------------- Other ---------------- */
.shadow {
  -moz-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.3);
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -18px;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -18px;
}

#overlay {
  position: fixed;
  /* Sit on top of the page content */
  display: none;
  /* Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  color: #ccc;
  /* Black background with opacity */
  z-index: 20;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
  font-size: 24px;
  line-height: 24px;
  /* font-family: 'Monaco'; */
  padding-top: 20px;
  text-align: center;
  transition: opacity 0.5s ease;
  font-family: 'Mukta', sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}

#overlay p {
  text-align: justify;
  /* font-family: 'Aileron'; */
  font-family: 'Marcellus', sans-serif;
}

#overlay_text {
  width: 100%;
}

#lock_orientation{
  position: relative;
  right: -50%;
  width: 100%;
  display: flex;
  flex-direction: row;
  line-height: 14px;
  transform: translateX(-11%)
}

#lock_orientation .logo{
  width: 4em;
  height: 4em;
  background-color: #FFF;
  opacity: 0.8;
  border-radius: 1em;
  color: black;
  background-image: url(../images/lock-01.png);
  background-size: cover;
}

#lock_orientation .text{
  padding-top: 1.5em;
  /* width: 160px; */
  text-align: center;
  margin-right: 16px;
  font-size: 20px;
  line-height: 20px;
}

code {}

#overlay h1 {
  font-size: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
}

#overlay h2 {
  font-size: 25px;
  margin-top: 20px;
}

#overlay a {
  color: white;
}

#overlay p {
  padding-left: 100px;
  padding-right: 100px;
}

.teal {
  color: #1eecec !important;
}

/* TODO: Review this and correct it so it actually works. */
/* if portrait mode is detected, rotate the entire site -90 degrees to hint rotating to landscape */
@media (orientation: portrait) {
  #scroll_prevent {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  /*#ahrs_container{
    height: 514px;
    width: 919px;
    zoom: 190%;
  }*/
}

img {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}